@using EntityLayer.Concrete
@model List<Admin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kullanıcı Mail</th>
        <th>Satatus</th>
        <th>Pasif Yap</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.AdminID</th>
            <td>@item.AdminUserName</td>
            <td>Aktif</td>
            <td><a href="/AdminCategory/DeleteCategory/@item.AdminID" class="btn btn-danger">PasifYap</a></td>
            <td><a href="/Authorization/EditAdmin/@item.AdminID" class="btn btn-warning">Değiştir</a></td>
        </tr>
    }
</table>
<a href="/Authorization/AddAdmin/" class="btn btn-info">Yeni Admin Tanımla</a>
<a href="/AdminCategory/Statistics" class="btn btn-warning">Kategori İstatistik</a>

