
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>
    Mvc Kamp Tablo Örnegi
</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>asd</th>
        <th>dsa</th>
    </tr>
    <tr>
        <td>qwe</td>
        <td>tre</td>
    </tr>
</table>
<button class="btn btn-info">kaydet</button> 